script(src="http://code.jquery.com/jquery-1.9.1.min.js")
script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
script(src="/js/jquery.tagsinput.min.js")

each item in viewGlobals.clientJSFiles
   script(src=item)
