<div class="navbar navbar-inverse">
    <div class="container-fluid">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </button>
	</div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
	<ul class="nav navbar-nav">
	    <li {if nav_home}class="active"{/if}><a href="/">Home</a></li>
	    {if User}
		{if User.canplay}
		    <li {if nav_play}class="active"{/if}><a href="/play">Play</a></li>
		{/if}
		{if User.canedit}
		    <li {if nav_edit}class="active"{/if}><a href="/edit">Editor</a></li>
		{/if}
		{if User.canadmin}
		    <li {if nav_admin}class="active"{/if}><a href="/admin">Admin</a></li>
		{/if}
		<li {if nav_account}class="active"{/if}><a href="/users/{>User.id}">Account</a></li>
	    {/if}
	</ul>
	<ul class="nav navbar-nav navbar-right">
	    {if not User}
		<li><a href="/login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	    {else}
		<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	    {/if}
	</ul>
    </div>
</div>
