nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.fullscreen-toggle(class='glyphicon glyphicon-fullscreen navbar-toggle', type='button', id='fullscreen-button')
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') zombie rts
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        - if (req.user.Access === 1000)
          li
            a(class="oNav", href="/admin", title="Admin") Admin
        - if (req.user.Access >= 1)
          li
            a(class="oNav", href="/play", title="Play") Play
        - if (req.isAuthenticated())
          li
            a(class="oNav", href="/users/"+req.user.id, title="Account") Account
          li
            a(class="oNav", href="/logout", title="logout") Logout
        - else
          li(class=isActive('/login') ? 'active' : '')
            a(class="oNav", href="/login", title="Login") Login
