
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* -----------------------------------------------
  App styles
  ------------------------------------------------ */

.content {
    padding-top: 15% !important;
}

body {
    background-color: #222222;
    overflow: hidden;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.error,
a.error,
a.error:hover,
a.error:focus,
button.error,
button.error:hover,
button.error:focus {
  color: #D9534F;
}

.form-actions {
  background: #fff;
  border: 0;
}

#spacer {
  display: inline-block;
}

.muted {
  color: #aaa;
  font-size: 12px;
}

.alert {
  margin-top: 10px;
}

.navbar {
    background-color: #333333;
    color: #FFFFFF !important;
    margin-bottom:0 !important;
}

.navbar-brand {
  font-size: 14px;
  color: #FFFFFF !important;
}

.navbar-right > li > a {
  padding-left: 5px;
  padding-right: 5px;
}

.oNav {
    color:#FFFFFF !important;
    background-color:#333333 !important;
}
/**
 * Signup / login
 */

.form-signin input#email {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input#password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Web
 */

.desktop-content {
    position:absolute;
    top:10%;
    left:10%;
    width:80%;
    height:100%;
    background-color: #222222;
    color: #FFFFFF;
}

.desktop-description {
   width:50%;
}

/*
 * Admin
 */

.admin-users {
    height:75%;
    width:60%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.admin-user {
    width:100%;
    background-color: #555555;
    margin-bottom: 2%;
}









/*
 * Game Content
 */

.game-canvas {
    width: 100%;
    height: 100%;
    position:Absolute;

    background-color: #000000;
}

.game-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.game-ui-right {
    width: 14.28%;
    height: 100%;

    position:absolute;
    right: 0%;
    float:right;

    background-color:#ffffff;
}

.game-ui-left {
    width: 14.28%;
    height: 100%;

    position:absolute;
    left: 0%;
    float:left;
    background-color:#ffffff;
}

.game-ui-button {
    width: 100%;
    height: 13.75%;
    margin-bottom: 4px;
    background-color: #ff0000;
}







/**
 * Navbar Additions
 */

.fullscreen-toggle {
    position:absolute;

    width:10%;


    top:0%;
    left:70%;
}

.editor-nav-btn {
    background-color: #222222 !important;
    color: #9d9d9d;
    border: 0px !important;
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.editor-nav-btn:focus {outline:0;}
.editor-nav-btn:hover {color:#FFFFFF;background-color:#000000 !important;}

.dropdown:hover .dropdown-menu {
    display: block;
}

.editor-nav-drpdn {
    background-color: #222222 !important;
    border: 2px !important;
    position:absolute;
    height:200px;
    left:0px;
}

.dropdown-menu>li>a:hover { color:#000000 !important;font-weight:bold; }
.dropdown-menu>li>a { color:#9d9d9d !important; }



/**
 *  Editor Styles
 */

.grid-fix { margin:0; }

.editor-panes {
    height:100%;
    margin-left:0px;
}

.editor-left-pane {
    pointer-events:all;
    padding-left:0;
    background-color: #222;
    height:100%;
}


ol.tree
{
    padding: 0 0 0 30px;
    width: 300px;
}
    li
    {
	position: relative;
	list-style: none;
    }
    li.file
    {
    }
	li.file label:before, li.file span:before
	{
	    font-family: "Glyphicons Halflings";
	    content: "\e019";
	    color: #4C4C4C;
	    text-decoration: none;
	}
	
	li.file a[href *= '.pdf']   { background: url(document.png) 0 0 no-repeat; }
	li.file a[href *= '.html']  { background: url(document.png) 0 0 no-repeat; }
	li.file a[href $= '.css']   { background: url(document.png) 0 0 no-repeat; }
	li.file a[href $= '.js']	{ background: url(document.png) 0 0 no-repeat; }
    li input
    {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
    }
	li input:after + ol
	{
	    font-family: "Glyphicons Halflings";
	    content: "\e253";
	    margin: -0.938em 0 0 -44px; /* 15px */
	    height: 1em;
	}
	li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
    li label
    {
	font-family: "Glyphicons Halflings";
	content: "\e118";
	cursor: pointer;
	display: block;
    }

    li input:checked + ol
    {
	font-family: "Glyphicons Halflings";
	content: "\e253";
	margin: -1.25em 0 0 -44px; /* 20px */
	padding: 1.563em 0 0 80px;
	height: auto;
    }
	li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */ }
	li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }













.entity-manipulator-window {
    color:#FFF;
    padding-left:5%;
    padding-top:5%;

}

.entity-manipulator-window .input-group {
    color:#FFF;
    background-color: #111;
}

.entity-manipulator-window .input-group-addon {
    color:#FFF;
    background-color: #222;
    border-color: #333;
}

.entity-manipulator-window .form-control, .modal .form-control {
    color:#FFF;
    background-color: #111;
    border-color: #333;
}

.entity-manipulator-window .btn-default, .modal .btn-default {
    color:#FFF;
    background-color: #111;
    border-color: #333;
}

.modal-header {
    color:#FFF;
    background-color: #1b1b1b;
    border-color: #000;
    padding-bottom:0;
    border-bottom:0;
}

.modal-content {
    color: #FFF;
    background-color: #151515;
    border-color: #000;
}

.modal-footer {
    border-top:0;
    background-color: #1b1b1b;
    border-color: #000;
}

.list-group-item {
    color: #FFF;
    background-color: #111;
    border-color: #333;
}

#component-modal-args .row { margin:0; }

.modal-header .nav > li > a { color:#555; border: 0; }
.modal-header .nav > li > a:hover { background-color: #333 !important; border:0; color:#fff;}
.modal-header .nav > li > li:hover { background-color: #111 !important; border:0; color:#fff;}
.modal-header .nav .active > a { background-color: #151515 !important; color: #FFF !important; border:0 !important; }
.modal-header .nav .active > a:hover { background-color: #333 !important; color: #FFF !important; border:0 !important;}
