extends ../layouts/default
block content
    div.desktop-content
        h1 dis is ma website
            <iframe width="80%" height="800" src="https://www.youtube.com/embed/WhhQckygGFE?ecver=1"frameborder="0" allowfullscreen></iframe>
        h1 lol
