<div class="container" style="pointer-events:none;position:absolute;width:100%;height:100%;padding:0;">
    <div class="nav navbar-inverse row" style="pointer-events:all;">
	<div class="container-fluid">
	    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
data-target="#editNavbar">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>
	    </div>
	</div>
	<div class="collapse navbar-collapse" id="#editNavbar">
	    <ul class="nav navbar-nav">
		<li class="dropdown">
		    <button class="editor-nav-btn"
			    type="button"
			    id="file-menu">
			    File
		    </button>
		    <ul class="dropdown-menu editor-nav-drpdn" role="menu" aria-labelledby="file-menu">
			<li role="presentation" class="dropdown-header">Storage</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Open
			    </a>
			</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Save
			    </a>
			</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Save As
			    </a>
			</li>
			</br>
			<li role="presentation" class="dropdown-header">Preferences</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Settings
			    </a>
			</li>
		    </ul>
		</li>

		<li class="dropdown">
		    <button class="editor-nav-btn"
			    type="button"
			    id="file-menu">
			    Edit
		    </button>
		    <ul class="dropdown-menu editor-nav-drpdn" role="menu" aria-labelledby="file-menu">
			<li role="presentation" class="dropdown-header">Entity</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Import
			    </a>
			</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				New
			    </a>
			</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Copy
			    </a>
			</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Paste
			    </a>
			</li>
			</br>
			<li role="presentation" class="dropdown-header"></li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
			    </a>
			</li>
		    </ul>
		</li>

		<li class="dropdown">
		    <button class="editor-nav-btn"
			    type="button"
			    id="file-menu">
			    View
		    </button>
		    <ul class="dropdown-menu editor-nav-drpdn" role="menu" aria-labelledby="file-menu">
			<li role="presentation" class="dropdown-header">Toolbars</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Create
			    </a>
			</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Properties
			    </a>
			</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Manipulate
			    </a>
			</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Preset
			    </a>
			</li>
			</br>
			<li role="presentation" class="dropdown-header">Nav</li>
			<li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">
				Nav Bar
			    </a>
			</li>
		    </ul>
		</li>
	    </ul>
	</div>
    </div>

    <div class="" style="height:100%;">
	<div class="editor-left-pane">
	    <div class="" style="height:100%;background-color:#222;">
		<div class=""
style="height:50%;overflow:scroll;margin-right:2.5%;margin-bottom:2.5%;background-color:#111;">
		{>entitytreeview}
		</div>
		<div class=""
style="height:50%;margin-left:0px;overflow:hidden;margin-right:2.5%;background-color:#111;">
		    <div class="container entity-manipulator-window" style="width:100%;">
      
			<div id="entity-manipulator-view">
			    <div class="input-group">
				<span class="input-group-addon"><i>Name</i></span>
				<input autocomplete="off" id="entity-name" type="text" class="form-control" name="entity-name" placeholder="L">
			    </div>
			    <div class="input-group">
				<span class="input-group-addon"><i>ID</i></span>
				<input id="entity-id" type="text" class="form-control" name="entity-id" placeholder="null">
			    </div>
			    <h3>Position</h3>
			    <div class="input-group">
				<span class="input-group-addon">x</span>
				<input id="entity-x" type="text" class="form-control" name="entity-x" placeholder="0">
			    </div>
			    <div class="input-group">
				<span class="input-group-addon">y</span>
				<input id="entity-y" type="text" class="form-control" name="entity-y" placeholder="0">
			    </div>
			    <div class="input-group">
				<span class="input-group-addon">z</span>
				<input id="entity-z" type="text" class="form-control" name="entity-z" placeholder="0">
			    </div></br>
			    <div class="input-group" style="width:100%;">
				<div class="input-group-btn">
				    <button class="btn btn-default" style="width:100%;"
onclick="$('#editor-component-modal').modal();">
					<i class="glyphicon glyphicon-edit"> Components</i>
				    </button>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="editor-bottom-pane">
		<div class="bottom-options">

		</div>
	    </div>
	</div>
    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="editor-component-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding-top:50px;">
          <button type="button" class="close" data-dismiss="modal" style="color:#fff;">&times;</button>
          <h4>
	    <div id="editor-component-modal-entity-name">Entity</div>
	    Components
	  </h4>
	    <ul class="nav nav-tabs" id="component-modal-tabs" style="border:0;">
	    </ul>
        </div>
        <div class="modal-body">
	    <div class="tab-content" id="component-modal-content">
	    </div>
	 </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left"
data-dismiss="modal"><span style="color:red;" class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>






