<div class="container text-center" style="color:#FFFFFF;">
    <div ckass="row">
        <h1>Administration - this is gross remake it<h1>
        <div class="admin-users"  _csrf="{csrf}">
            <ul>
                {for user in users}
                    <div class="admin-user" name={user._id}>
                        <div><span>ID:</span><span>{user._id}</span></div>
                        <div><span>Access:</span><span>{user.Access}</span></div>
                        <div><span>Username:</span><span>{user.username}</span></div>
                        <div><span>Email:</span><span>{user.email}</span></div>
                        <div><span>Name:</span><span>{user.name}</span></div>
                        <span>
			    <button class="btn-success" style="width:10%;" name="{user._id}" onclick="edit("{user._id}")">Edit</button>
			    <button class="btn-primary" style="width:10%;display:none;" name="{user._id}" onclick="save("{user._id}")">Save</button>
                        </span>
		    </div>
		{/for}
	    </ul>
	</div>
    </div>
</div>
<script src="/js/admin.js"></script>
